.main-section {
  width: 100%;
  padding: 13px;
  border: 1px solid;
  border-color: rgba(204, 204, 204, 0.4);
  margin-top: 20px;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.central {
  margin-top: 50px;
}

.header {
  width: auto;
}

.form-group {
    margin-bottom: 0rem !important;
}

h3 {
  font-size: 13px;
  color: #ccc;
  font-weight: normal;
  margin-bottom: 0px;
  display: initial;
  width: auto;
}

.box, .box-color {
    margin-bottom: 0 !important;
}

#ten-countdown {
    display: inline;
    font-family: Verdana, sans-serif, Arial;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

#alertVentana {
  display: none;
}

#alertVentilacion {
  display: none;
}

#alertRiego {
  display: none;
}

#box-ventana {
  display: block;
}

#box-cooler {
  display: block;
}

#box-riego {
  display: block;
}

#tempOP {
  display: none;
}

#tempAC {
  display: none;
}

#tempIN {
  display: none;
}

#humOP {
  display: none;
}

#humAC {
  display: none;
}

#humIN {
  display: none;
}

#humSOP {
  display: none;
}

#humSAC {
  display: none;
}

#humSIN {
  display: none;
}

#alertVentanaManual  {
    display: none;
}

#alertVentilacionManual {
    display: none;
}

#alertRiegoManual {
    display: none;
}
